 h1{
              
                 text-align: center;
             }


         h2{
              
                 text-align: center;
             }

              body{
                 margin : 0px;
                 background-color:#00FFFF;
                 
             }